# Eclipse Artifacts
*.classpath
**/*.classpath
*.project
**/*.project
**/.settings

#Eclipse Artifacts for Python
*.pydevproject
**/*.pydevproject
**/__pycache__

# Build Artifacts
**/build
**/bin

# Gradle Artifacts
.gradle
**/.gradle

# PyCharm IDE Artifacts
**/.idea

# Scrapy Output
ScrapyTutorial/*.html*
